.titleHistory {
    font-size: 15px;
    width: 50%;
    height: 50px;
  }
  
  .clickAble {
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 425px) {
    .titleHistory,
    .clickAble {
      font-size: 8px;
    }
  }