.infoNav {
  line-height: 10px;
}

.navBar {
  border-radius: 0 0 50px 50px;
  background-color: white;
  box-shadow: 0px 5px 20px 0 rgba(73, 73, 73, 0.226);
}

.brandName {
  color: #6379f4;
  cursor: pointer;
}

.clickAble {
  cursor: pointer;
}

.footer {
  background-color: #6379f4;
}

.bgColor {
  background-color: #dde9fc;
}

.navMain {
  background-color: white;
  border-radius: 20px;
  padding: 40px 40px 10px;
  /* height: 100%; */
}

.navMain > div {
  cursor: pointer;
}

.activeNav {
  border-left: 3px solid #6379f4;
  color: #6379f4;
}

.disableNav {
  color: #3a3d42cc;
  font-weight: 400;
  margin-top: 10px;
}

.logout {
  margin-top: 300px;
}

.navMenu,
.logout {
  cursor: pointer;
  gap: 30px;
  margin-bottom: 19px;
}
.navMenu > button {
  background-color: transparent;
  border: none;
  color: #3a3d42cc;
}

.logout > button {
  background-color: transparent;
  border: none;
  color: #3a3d42cc;
}

.inputTopup {
  text-align: center;
  border: 1px solid #a9a9a999;
  color: #6379f4;
  border-radius: 10px;
  width: 75%;
  padding: 10px 10px 5px;
  font-size: 25px;
}

.inputTopup::placeholder {
  color: #a9a9a966;
}

.buttonURL {
  position: relative;
  left: 120px;
  padding: 15px;
  border-radius: 10px;
}

.inputTopup::-webkit-outer-spin-button,
.inputTopup::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 99;
  width: 403px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 0 rgba(73, 73, 73, 0.226);
}

.cardNotif {
  width: 100%;
  box-shadow: 0px 5px 20px 0 rgba(73, 73, 73, 0.226);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .logout {
    margin-top: 0px;
  }
  .navMain > div {
    font-size: 10px;
  }
  .navMenu,
  .logout {
    gap: 5px;
  }
  .footer {
    font-size: 11px;
  }
  .navMain {
    padding: 40px;
    height: 100%;
  }
}