.containerTransfer {
    background-color: white;
    width: 75%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 40px;
  }
  
  .inputRecevier {
    margin-top: 20px;
    position: relative;
  }
  
  .imgSearch {
    position: absolute;
    left: 10px;
    top: 15px;
  }
  
  .inputSearch {
    margin-bottom: 20px;
    height: 54px;
    width: 100%;
    border-radius: 20px;
    padding: 20px 50px;
    outline: none;
    border: none;
    background-color: #3a3d421a;
  }
  
  .buttonConfirm {
    position: relative;
    left: 680px;
    border-radius: 10px;
  }
  
  .inputSearch:focus {
    border: none;
    background-color: #3a3d421a;
    resize: none;
    outline: none;
    padding: 20px 50px;
  }
  
  .descTransfer {
    color: #7a7886;
  }
  
  .cardTransfer {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.075);
    width: 100%;
    padding: 10px;
    border-radius: 15px;
  }
  
  .cardDetails {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.075);
    width: 100%;
    border-radius: 15px;
    padding: 5px 20px;
    line-height: 25px;
  }
  
  .titleTransfer {
    font-size: 15px;
    width: 50%;
    height: 50px;
    line-height: 25px;
  }
  
  .nominal {
    text-align: center;
    width: 100%;
    height: 80px;
    border: none;
    font-size: 50px;
    color: #6379f4;
  }
  
  .nominal:focus {
    outline: none;
  }
  
  .nominal::placeholder {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
  }
  
  .buttonError {
    position: relative;
    left: 480px;
  }
  
  .notes {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1.5px solid #a9a9a999;
    padding: 10px;
    position: relative;
    left: 250px;
    height: 45px;
  }
  
  .notesInput {
    border: none;
  }
  
  .notesInput:focus {
    outline: none;
  }
  
  .nominal::-webkit-outer-spin-button,
  .nominal::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  @media only screen and (max-width: 425px) {
    .containerTransfer {
      width: 100%;
    }
    .notes {
      left: 60px;
      height: 40px;
    }
    .buttonConfirm {
      left: 350px;
      border-radius: 10px;
    }
  }